<!-- <h1>Welcome to Angular8</h1> -->
<div>
<!--   <app-bootstrap></app-bootstrap>
  <app-warning-alert></app-warning-alert>
  <app-first></app-first>
  <app-string-interpolation></app-string-interpolation>
  <app-property-binding></app-property-binding>
  <app-event-binding></app-event-binding>
  <app-two-way-databinding></app-two-way-databinding>
  <app-directives></app-directives>
  <app-ngstyle-directive></app-ngstyle-directive>
  <app-error-messages></app-error-messages>
  <app-lifecycle-hooks></app-lifecycle-hooks>
  <app-service-component></app-service-component>
<app-routing></app-routing> 
<app-observable></app-observable>
<app-forms></app-forms>
<app-forms></app-forms> -->


</div>

<!-- <app-parent></app-parent>

<div class="main">
  <nav>
    <a routerLink="/" class="active">Home</a>
    <a routerLink="/server">Server</a>
    <a routerLink="/users">Users</a>
  </nav>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="server">server</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="users">users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<!-- <div class="buttons">
  <h4>Manage your servers and users</h4>
  <button class="btn btn-primary" (click)="onLoadServers()">Load Servers</button>
</div> -->

<!-- <router-outlet></router-outlet> -->


<!-- <app-child (childevent)="message=$event" [parentData]="name"></app-child>
childevent
<h1>{{message}}</h1> -->

<!-- <app-sibling></app-sibling>
<app-child1></app-child1>
<app-child2></app-child2> -->
<!-- 
<app-pipe></app-pipe> -->

<app-http></app-http>