h1
{
    text-align: center;
}

div
{
    margin: 25px;
}

.main
{
    nav {
        background-color: black;

     a {
        color: white;
        font-size: 20px;
        margin: 5px;
        text-decoration: none;
        display: inline-block;
     }
    }
}